DEMO/services/SampleService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SampleService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SampleServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SampleServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
        </xsd:schema>
	</wsdl:types>

	<wsdl:message name="SampleServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:SampleServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SampleServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:SampleServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SampleServicePortType">
		<wsdl:operation name="SampleServiceOperation">
			<wsdl:input message="tns:SampleServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SampleServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SampleServiceBinding" type="tns:SampleServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SampleServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/SampleServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SampleService">
		<wsdl:port name="SampleServicePort" binding="tns:SampleServiceBinding">
			<soap:address location="http://localhost:8090/services/SampleService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>